<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventConnect - Compra de boletos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/tarjeta.css">
    <link rel="stylesheet" href="/static/interno.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('usuario')}}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('boletos')}}">Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Mis entradas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('actualizarDatos')}}">Mis datos</a>
            </li>
            <li class="nav-item ms-auto">
              <a class="nav-link" href="{{url_for('logout')}}">Salir</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container" style="width: 400px;">
      <div class="row height d-flex">
        <div class="col-md-6">
          <div class="form">
            <form name="queryEventos" id="queryEventos" action="{{url_for('busquedaBoletos')}}" method="POST">
              <input type="search" name="barraBusqueda" class="form-control form-input" placeholder="¿Que evento buscas?" style="width: 370px; margin-top: 15px;">
              <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
              <button type="submit" class="btn btn-primary" style="margin-left: 130px;">Buscar</button>
            </form>
          </div>    
        </div>    
      </div>    
    </div>
    
    <div>
    {% block body %}
    <div class="container" style="width: 1000px; height: 650px;">
      <h1 class="card-price" style="text-align: center; padding-top: 30px; font-size: xx-large;">Eventos disponibles</h1>
      <div class="swiper swiperPag" style="width: 900px;">
        <div class="swiper-wrapper">
            {% for evento in eventos %}
          <div class="swiper-slide"> 
            <div class="card">
              <div class="row">
                <div class="col-sm">
                  <div class="swiper swiper-eventos">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <img src="https://images6.alphacoders.com/132/1326393.png">
                      </div>
                      <div class="swiper-slide">
                          <img src="https://images2.alphacoders.com/132/1329600.png">
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
                <div class="col-sm">
                  <div class="card-body" style="width: 300px;">
                    <h3 class="card-title">{{ evento.2 }}</h5>
                    <p class="card-text"><strong>Fecha y hora: </strong>{{ evento.3 }}</p>
                    <p class="card-text"><strong>Descripcion breve del concierto: </strong>{{ evento.4 }}</p>
                    <p class="card-price"></p>
     
                    <form id="botonCompra" action="{{url_for('cargarTipoEntradas')}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                    <input type="hidden" name="id_Evento" value="{{ evento.0 }}">  
                    <button type="submit" class="btn btn-primary">Comprar entradas</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div> 
            {% endfor %}
        </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-keyboard"></div>
      <div class="swiper-mousewheel"></div>
      </div>
    </div>
    {% endblock %}
    </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper-eventos', {

  effect: "slide",     
  direction: 'horizontal',
  loop: true,

  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dynamicBullets: true,
  },

  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

});

  new Swiper('.swiperPag', {

    slidesPerView: 2,
    effect: "slides",
    direction: 'horizontal',
    loop: false,
    Mousewheel: true,

  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dynamicBullets: true,
    type: "bullets",

  },

  scrollbar: {
    el: ".swiper-scrollbar",
    draggable: true,
  },

  keyboard: {
    el: ".swiper-keyboard",
    enabled: true,
  },

  mousewheel: {
    el: ".swiper-mousewheel",
  },

  })
  </script>  
  </body>
</html>