<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/interno.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('administrativo')}}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adminPagos')}}">Gestión de pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('admineventos')}}">Gestión de eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adminclientes')}}">Lista de Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adminorganizadores')}}">Lista de Organizadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adminadmins')}}">Lista de Administradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('adminreportes')}}">Reportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('actualizarDatos')}}">Mis datos</a>
                </li>
                <li class="nav-item ms-auto">
                    <a class="nav-link" href="{{url_for('logout')}}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

  <div class="container text-center" style="border: 1px solid #5895c7;">
    <div class="row row-cols-3">  
      <div class="col" style="border: 5px solid #5895c7; border-radius: 30px;">
        <h3>Clientes suscritos</h3>
        <form action="/reporte1" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
          <p>Este reporte genera un contador de los clientes suscritos actualmente al sistema.</p>
          <button type="submit" class="btn btn-primary" style="width: 300px;">Generar</button>
        </form>
      </div>
      <div class="col" style="border: 5px solid #5895c7; border-radius: 30px;">
        <div class="col-md-12">
          <form action="/reporte2" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
          <h3>Organizadores activos</h3>
          <p>En este reporte se visualiza la lista de organizadores registrados que pueden realizar eventos.</p>
          <button type="submit" id="org" class="btn btn-primary" style="width: 300px;">Generar</button>
        </form>
        </div>
      </div>
      <div class="col" style="border: 5px solid #5895c7; border-radius: 30px;">
        <div class="col-md-12">
          <form action="/reporte3" method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
            <h3>Calendario de eventos</h3>
            <p>En este reporte se visualizan todos los eventos agendados en un rango de fechas.</p>
            <div class="row row-cols-1">
              <div class="col">
                <p><strong>Desde</strong></p>
                <input type="date" id="start-date" class="datel" name="start-date">
                <p style="margin-top: 10px;"><strong>hasta</strong></p>
                <input type="date" id="end-date" class="dater" name="end-date">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary" style="width: 300px;">Generar</button>
              </div>            
            </div>
          </form>
        </div>
      </div>
      <div class="col" style="border: 5px solid #5895c7; border-radius: 30px;">
        <div class="col-md-12">
          <form action="/reporte4" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
            <h3>Entradas vendidas</h3>
            <p>En este reporte se visualizan las cantidades de entradas vendidas en cada evento activo en un rango de fechas.</p>
            <div class="row row-cols-1">
              <div class="col">
                <p><strong>Desde</strong></p>
                <input type="date" id="start-date" class="datel" name="start-date">
                <p style="margin-top: 10px;"><strong>hasta</strong></p>
                <input type="date" id="end-date" class="dater" name="end-date">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary" style="width: 300px;">Generar</button>
              </div>            
            </div>
        </form>
        </div>
      </div>
      <div class="col" style="border: 5px solid #5895c7; border-radius: 30px;">
        <div class="col-md-12">
          <form action="/reporte5" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
            <h3>Pagos confirmados</h3>
            <p>En este reporte se visualizan los pagos confirmados en un rango de fechas.</p>
            <div class="row row-cols-1">
              <div class="col">
                <p><strong>Desde</strong></p>
                <input type="date" id="start-date" class="datel" name="start-date">
                <p style="margin-top: 10px;"><strong>hasta</strong></p>
                <input type="date" id="end-date" class="dater" name="end-date">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary" style="width: 300px;">Generar</button>
              </div>            
            </div>
        </form>
        </div>
      </div>
      <div class="col" style="border: 5px solid #5895c7; border-radius: 30px;">
        <div class="col-md-12">
          <form action="/reporte6" method="POST">
            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
            <h3>Pagos pendientes</h3>
            <p>En este reporte se visualizan los pagos pendientes en un rango de fechas.</p>
            <div class="row row-cols-1">
              <div class="col">
                <p><strong>Desde</strong></p>
                <input type="date" id="start-date" class="datel" name="start-date">
                <p style="margin-top: 10px;"><strong>hasta</strong></p>
                <input type="date" id="end-date" class="dater" name="end-date">
              </div>
              <div class="col">
                <button type="submit" class="btn btn-primary" style="width: 300px;">Generar</button>
              </div>            
            </div>
        </form>
        </div>
      </div>      
    </div>
  </div>
</body>
</html>