<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventConnect - Formulario de compra</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/interno.css">
    <link rel="stylesheet" href="/static/registrar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-left: 620px; margin-top: 275px; width: 600px;">
        <div class="screen" style="width: 300px; height: 350px; margin-right: 10%; margin-left: 22%;">
            <div class="screen__content">
                {% with messages = get_flashed_messages() %}
                    {%if messages%}
                <br/>
                    {% for message in messages %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                <h2 style="text-align: center; margin-bottom: 50px;">Cargue las imagenes de su evento</h2>
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                    <input type="file" name="file" accept="image/png, image/jpeg, image/jpg, image/gif" multiple class="btn btn-primary btn-sm">
                    <br>
                    <input type="submit" value="Subir" class="btn btn-primary btn-sm" style="height: 50px; width: 100px; margin-left: 35%;">
                </form>
            </div>
        </div>
    </div>
</body>